html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.toast-top-center {
    top: 12px;
    left:50%;
    margin:43px 0 0 -150px;
}

footer {
    margin-top: auto;
}
